*{
	margin:0 ;
	padding:0;
}
.container{
	width: 1200px;
	height:0px;
}
.w-33-1{
	width:33.33%;
	height:200px;
	background-color: skyblue;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.w-33-2{
	width:33.33%;
	height:200px;
	background-color: purple;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.w-33-3{
	width:33.33%;
	height:200px;
	background-color: skyblue;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.w-33-4{
	width:33.33%;
	height:200px;
	background-color: red;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.w-33-5{
	width:33.33%;
	height:200px;
	background-color: yellow;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.w-33-6{
	width:33.33%;
	height:200px;
	background-color: red;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.w-33-7{
	width:33.33%;
	height:200px;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.w-33-8{
	width:33.33%;
	height:200px;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.w-33-9{
	width:33.33%;
	height:200px;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.w-33-10{
	width:30%;
	height:100px;
	float:left;
	padding:10px;
	box-sizing: border-box;
}
.w-33-11{
	width:33.33%;
	height:200px;
	float:left;
	padding:30px;
	box-sizing: border-box;
}
.w-33-12{
	width:33.33%;
	height:200px;
	float:left;
	padding:30px;
	box-sizing: border-box;
}

